extends layout

block content
  .container
    .vending
      section.sign
        p Drink Hacker Cola
      section.input
        p
          span.muted Quantity:
          span(style='margin-left: 10px;') #{vendingMachine.quantity}
        p
          span.muted Price:
          span(style='margin-left: 10px;') #{vendingMachine.price} cents
        p
          span.muted Amount Deposited:
          span(style='margin-left: 10px;') #{vendingMachine.amountDeposited} cents
        p
          span.muted Please Enter:
          span(style='margin-left: 10px;') #{vendingMachine.amountRemaining()} cents
        article
          button(onclick="window.location.href='/nickel'") Nickel
          button(onclick="window.location.href='/dime'") Dime
          button(onclick="window.location.href='/quarter'") Quarter
        article
          button.purchase(onclick="window.location.href='/purchase'", { purchaseDisabledProp } style="background-color: #BBFFBB")
            | Purchase
        article.output
          p #{hackerColaMessage}
          p #{changeMessage}
